
BluetoothCarTracker/\.vs/
BluetoothCarTracker/BluetoothCarTracker/obj/
BluetoothCarTracker/BluetoothCarTracker/bin/

BluetoothCarTracker/BluetoothCarTracker/secrets\.json

*.ttf

BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.Droid/obj/
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.Droid/bin/

BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.UWP/obj/
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.UWP/bin/

BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.iOS/obj/
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.iOS/bin/

BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.Wasm/obj/
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.Wasm/bin/
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.Droid/Assets/secrets\.json
BluetoothCarTracker/BluetoothCarTracker/BluetoothCarTracker\.UWP/BluetoothCarTracker\.UWP_TemporaryKey\.pfx
